<%-include('base_header') -%>


<body>

<div class="tela-principal">

		
    <div class="minhafoto">


    <img src="<%=p.imagem%>" alt="Foto de Eduarda Giudice">

    </div>

    <div class="nome-titulo">

    <h1><%=p.nome%></h1>
    <h2><%=p.idade%> </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin finibus magna felis, a scelerisque neque eleifend id. Suspendisse est leo, rhoncus eget metus ut, vehicula commodo ante. Quisque lacinia nibh sem, et mollis nisi aliquam quis. Nam neque augue, tincidunt quis quam eget, blandit lacinia mi. Vivamus diam metus, ultricies id ultricies vel, suscipit vitae nisi. Integer vitae lorem suscipit, dapibus leo id, varius dui. Etiam pellentesque pulvinar auctor. In ac turpis vehicula, viverra arcu vel, posuere nibh.</p>

    </div>
</div>


<%- include('base_footer') -%>